li {
  padding: 0.5em;
}

a {
  padding: 0.25em;
  background: rgba(0, 255, 90, 0.5);
  color: black;
  text-decoration: none;
  transition: box-shadow 0.5s;
}

a:hover {
  transform: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.back {
  margin: 1em;
}

#para {
  background: black;
  color: white;
}

#box {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}
